    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/monitoring">Мониторинг <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Создание аккаунта</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Удаление аккаунта</a>
          </li>
        </ul>
        <form action="/search" method="GET" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Введие что надо найти" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container d-flex justify-content-center">
            <form action="/monitoring" method="GET" accept-charset="utf-8">
                  <div class="form-group">
                    <label for="start_date">От ( например 2020-08-15 ) </label>
                    <input id="start_date" type="text" name="start_date"/>

                  </div>
                  <div class="form-group">
                    <label for="end_date">до ( например 2020-09-15 ) </label>
                    <input id="end_date" type="text" name="end_date"/>
                  </div>
                <input type="submit" class="btn btn-primary" value="Показать данные"/>
            </form>
        </div>
    </div>